###
# host name
HOST=127.0.0.1
SSH_PORT=22
SSH_USER=root

MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root

MYSQL_DATA_DIR=/var/lib/mysql
MYSQL_LOG_BIN=mysql-bin
MYSQL_LOG_BIN_DIR=/var/lib/mysql

###
# backup dir
BACKUP_DIR=./mysql-backup
MYSQL_BACKUP_LOG=./mysql-backup.log

###
# save n day
EXPIRED_DATE=1

###
# date format
DATE_FORMAT="%Y-%m-%d"
DATETIME_FORMAT="%Y-%m-%d_%H:%M:%S"